@tailwind base;
@tailwind components;
@tailwind utilities; 


 body { 
  @apply bg-zinc-900 text-white;
} 

/* Hide scrollbar */
.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}
.scrollbar-hide {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;     /* Firefox */
}
